.tileItem {
    position:absolute;
}

#board td {
    padding:0;
    display:inline-block;
    position:relative;
}

#player, .block, .exit {
    position:absolute;
    left: 0px;
}

#player, .block {
    z-index:10;
    transition: .25s all;
}

.top { 
    transform: rotate(270deg);
}

.left { 
    transform: rotate(180deg);
}

.bottom { 
    transform: rotate(90deg);
}

.piston_head {
    z-index: 5;
}

#gameContainer {
    display: inline-block;
    position: relative;
}

#levelTransition {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    z-index: 20;
}

.tutorial_container {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:50;
    text-align: center;
}

.tutorial-content {
    margin-top: 25%;
    border-radius: .5rem;
    padding: 2rem;
    background-color: white;
    border: .5rem solid grey;
    text-align: center;
}

#bomb-tutorial, #piston-tutorial {
    display: none;
}

#piston-image {
    position: relative;
    z-index: 200;
}

#piston-head-image {
    transform: translateX(-100%);
    z-index: 100;
    margin-left: -4px;
    padding-left: 0px;
}

#piston-tutorial-button {
    width: 7rem;
    margin-bottom: .5rem;
}

.end-tutorial {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1rem;
    color: green;
    border: .25rem solid green;    
}

.end-tutorial:hover {
    transform: translateY(-2px) scale(1.03);
}

.end-tutorial:active {
    transform: translateY(5px) scale(.99);
}

button:focus {outline:0;}

.transition-none {
    transition: all 0s;
    -webkit-transition: all 0s;
}

.transition-short {
    transition: all .25s;
    -webkit-transition: all .25s;
}

.transition-med {
    transition: .5s;
    -webkit-transition: .5s;
}