.tileItem {
    position:absolute;
}

#board td {
    padding:0;
    display:inline-block;
    position:relative;
}

#player, .block, .exit {
    position:absolute;
    left: 0px;
}

#player, .block {
    z-index:10;
}

.top { 
    transform: rotate(270deg);
}

.left { 
    transform: rotate(180deg);
}

.bottom { 
    transform: rotate(90deg);
}

.piston_head {
    z-index: 5;
}